@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #0e0e0e;
  color: #00ffe7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

#app {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
   margin: 0 auto;
  animation: fadeIn 1s ease-in;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 0 10px #00ffe7;
}

#status {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #00ffe7;
  text-shadow: 0 0 5px #00ffe7;
}

#reader {
  margin: 0 auto;
  border: 2px solid #00ffe7;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ffe7;
  width: 100%;
  max-width: 320px;
}

button {
    background-color: #00ffe7;
  color: #0e0e0e;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 10px #00ffe7;
  margin-top: 20px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  width: auto;
  min-width: 200px;
  max-width: 100%;
  text-align: center;
}

button:hover {
  background-color: #0e0e0e;
  color: #00ffe7;
  border: 1px solid #00ffe7;
  box-shadow: 0 0 20px #00ffe7;
}

video {
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 231, 0.2);
  width: 100%;
  max-width: 320px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

select {
  background-color: #0e0e0e;
  color: #00ffe7;
  border: 2px solid #00ffe7;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 1rem;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 0 10px #00ffe7;
  outline: none;
  margin-top: 20px;
  width: 100%;
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}

select:hover {
  background-color: #00ffe7;
  color: #0e0e0e;
  box-shadow: 0 0 20px #00ffe7;
}

select:focus {
  box-shadow: 0 0 25px #00ffe7;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* RESPONSIVIDADE */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  #status {
    font-size: 1rem;
  }

  #app {
    padding: 10px;
  }
}

.section {
  margin-top: 30px;
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
}

.section h2 {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 0 0 5px #00ffe7;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 231, 0.1);
}
